# Git
.git
.gitignore

# Ambientes Virtuais Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Artefatos de Machine Learning e Dados locais
mlruns/
models/*.pth
data/raw/*
data/processed/*
reports/
.pytest_cache/
